body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}

.div2 {
  margin-bottom: 10px;
  width: 500px;
  /* Add 'px' unit to specify width */
  background-color: rgb(148, 51, 239);
  color: rgb(0, 0, 0);
  padding-bottom: 2rem;
  text-align: center;
  border-radius: 5rem;
  vertical-align: middle;
  color: white;
}

.div3 {
  margin-bottom: 10px;
  width: 500px;
  /* Add 'px' unit to specify width */
  background-color: rgb(156, 115, 194);
  color: rgb(0, 0, 0);
  padding-bottom: 2rem;
  text-align: center;
  border-radius: 5rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.add {
  width: 5rem;
  height: 40px;
  background-color: transparent;
  border: white solid;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.add:hover {
  background-color: white;
  color: rgb(148, 51, 239);
}