.calculator{
    display: inline;
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #091374;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: aquamarine;
}
.screen{
    border: 3px solid;
    background-color: antiquewhite;

}
.btn{
    border-radius: 5px;
    width: 20px;
    background-color: darkgray;
}

:hover .btn{
    background-color: #000;
}